[auth]
redirect_uri = "http://localhost:8501/oauth2callback"
cookie_secret = "replace_key"

[auth.keycloak]
client_id = "violentutf"
client_secret = "***"
server_metadata_url = "http://localhost:8080/realms/ViolentUTF/.well-known/openid-configuration"

[auth.providers.keycloak]
issuer = "http://localhost:8080/realms/ViolentUTF"
token_endpoint = "http://localhost:8080/realms/ViolentUTF/protocol/openid-connect/token"
authorization_endpoint = "http://localhost:8080/realms/ViolentUTF/protocol/openid-connect/auth"
userinfo_endpoint = "http://localhost:8080/realms/ViolentUTF/protocol/openid-connect/userinfo"
jwks_uri = "http://localhost:8080/realms/ViolentUTF/protocol/openid-connect/certs"

[apisix]
client_id = "apisix"
client_secret = "replace_key"