KEYCLOAK_URL=http://localhost:8080/
KEYCLOAK_REALM=ViolentUTF
KEYCLOAK_CLIENT_ID=violentutf
KEYCLOAK_CLIENT_SECRET= ***  # must be the same with the one in secrets.toml
KEYCLOAK_USERNAME = violentutf.web
KEYCLOAK_PASSWORD = '***'
OPENAI_CHAT_DEPLOYMENT = 'OpenAI API'
OPENAI_CHAT_ENDPOINT = https://api.openai.com/v1/responses
OPENAI_CHAT_KEY = ***
PYRIT_DB_SALT==***
VIOLENTUTF_API_KEY=replace_api_key # Generated API key for AI Gateway authentication